body{
    background: white;
    font-size: 16px;
    font-family: sans-serif;
}

/*barra lateral*/
.barra-lateral{
    background: darkslategrey;
    color: white;
    min-width: 300px;
    min-height: 100vh;
    padding: 0%;
}

.barra-lateral a{
    color: white;
}

/*logo*/
.barra-lateral .logo{
    background: navy;
    margin-bottom: 2px;
}

.barra-lateral .logo h2{
    font-size: 30px;
    font-family: consolas;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

/*menu*/
.barra-lateral .menu a{
    display: block;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(white, white, white, .1);
}

.barra-lateral .menu a:hover{
    background: darkslateblue;
    text-decoration: none;
}

.barra-lateral .menu a i{
    margin-right: 20px;
    font-weight: normal;
}

/*main*/
.main{
    padding-top: 40px;
}

.main .columna{
    padding-left: 40px;
    padding-right: 40px;
}

.main .titulo{
    color: darkcyan;
    font-size: 25px;
    font-weight: 500;
    font-family: consolas;
    margin-bottom: 20px;
}

.main .widget{
    margin-bottom: 40px;
}

/*widget nueva entrada*/
.main .widget form input[type="text"],
.main .widget form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.main .widget form input[type="text"]{
    font-weight: 400;
}

.main .widget form textarea{
    height: 400px;
    max-height: 400px;
    min-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

.main .widget form button{
    background: navy;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    display: inline-block;
    padding: 10px;
    width: 200px;
    border-radius: 14px;
    transition: all .3s ease;
}

.main .widget form button:hover{
    background: white;
    color: navy;
    border: solid 2px navy;
}

/*widget estadisticas*/
.main .estadisticas .contenedor{
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
}

.main .estadisticas .caja{
    background: white;
    padding: 30px 10px;
    flex: 1;
    text-align: center;
    font-family: sans-serif;
}

.main .estadisticas .caja h3{
    margin-bottom: 10px;
    color: darkslateblue;
}
.main .estadisticas .caja p{
    color: darkgray;
    margin-bottom: 0;
}

.main .estadisticas .caja:first-child{
    border-right: none;
}

.main .estadisticas .caja:last-child{
    border-left: none;
}

/*widget comentarios*/
.main .comentarios .contenedor{
   box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2); 
}

.main .comentarios .comentario{
    background: white;
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;
}

.main .comentarios .comentario .foto{
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 100px;
}

.main .comentarios .comentario .foto a{
    display: inline-block;
}

.main .comentarios .comentario .foto img{
    width: 100%;
}

.main .comentarios .comentario .texto{
    flex: 1;
}

.main .comentarios .comentario .texto .texto-comentario{
    font-size: 14px;
    font-family: sans-serif;
}

.main .comentarios .comentario .botones button{
    background: none;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 14px;
    transition: all .3s ease;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main .comentarios .comentario .botones .aprobar{background: limegreen;}
.main .comentarios .comentario .botones .eliminar{background: red;}
.main .comentarios .comentario .botones .bloquear{background: gray;}

.main .comentarios .comentario .botones .aprobar:hover{
    background: white;
    color: limegreen;
}
.main .comentarios .comentario .botones .eliminar:hover{
    background: white;
    color: red;
}
.main .comentarios .comentario .botones .bloquear:hover{
    background: white;
    color: dimgray;
}

/*mediaqueries*/
@media screen and (max-width: 1300px){
    .barra-lateral{
        min-width: auto;
    }

    .barra-lateral .logo{
        display: none;
    }

    .barra-lateral .menu a span{
        display: none;
    }

    .barra-lateral .menu a i{
        margin: 0;
    }
}

@media screen and (max-width: 575px){
    .barra-lateral{
        min-height: auto;
    }

    .barra-lateral .menu a{
        display: inline-block;
        border-bottom: none;
    }

    .main .widget form button{
        width: 100%;
    }
}

@media screen and (max-width: 320px){
    .main .comentarios .comentario .foto{
        width: 30px;
        height: 30px;
    }

    .main .comentarios .comentario .botones button{
        width: 100%;
    }
}
